<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="contentRoute" data-th-content="${contentRoute}">
  <meta name="productRoute" data-th-content="${productRoute}">
  <meta name="cartRoute" data-th-content="${cartRoute}">
  <link data-th-href="${contentRoute + '/css/content-styles.css'}" rel="stylesheet">
  <link data-th-href="${productRoute + '/css/product-styles.css'}" rel="stylesheet">
  <link data-th-href="${cartRoute + '/css/cart-styles.css'}" rel="stylesheet">
</head>

<body>
  <h1>Cart Page</h1>
  <p>This product page is delivered from the content service.</p>

  <div class="cart-js--line-item-list"></div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script data-th-src="${cartRoute + '/js/cart-scripts.js'}"></script>
</body>

</html>