<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="contentRoute" data-th-content="${contentRoute}">
  <meta name="productRoute" data-th-content="${productRoute}">
  <meta name="cartRoute" data-th-content="${cartRoute}">
  <link data-th-href="${contentRoute + '/css/content-styles.css'}" rel="stylesheet">
  <link data-th-href="${productRoute + '/css/product-styles.css'}" rel="stylesheet">
  <link data-th-href="${cartRoute + '/css/cart-styles.css'}" rel="stylesheet">
</head>

<body>

  <!--#include virtual="[[${contentRoute}]]/fragments/default-header.html" -->

  <h1>Home Page</h1>
  <p>This page is delivered by the content service.</p>
  <p>You have <span class="cart-line-item-count cart-js-line-item-count">0</span> products in your cart.
    <a href="#" data-th-href="${cartRoute}">View cart</a></p>

  <p>Here comes some fancy content to be displayed right on the welcome page.</p>
  <p><a href="#" data-th-href="${productRoute}">Visit our products</a></p>

  <!--#include virtual="[[${contentRoute}]]/fragments/default-footer.html" -->

  <!-- Load jQuery required by the cart scripts. -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script data-th-src="${cartRoute + '/js/cart-scripts.js'}"></script>
</body>

</html>